*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #eaa0ec;
  color: aliceblue;
  height: 200px;

}

header h1{
  text-align: center;
  font-sixe: 50px;

}

h1{
   margin-top: 10px;
   margin-bottom: 20px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 15px;
}*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #eaa0ec;
  color: aliceblue;
  height: 200px;

}

header h1{
  text-align: center;
  font-sixe: 50px;

}

h1{
   margin-top: 10px;
   margin-bottom: 20px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 15px;
}
