*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #eaa0ec;
  color: aliceblue;
}

header h1{
  text-align: center;
  font-sixe: 50px;
  margin-top: 10px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 0.15px;
}
